html(lang="en")
	head
		meta(charset="utf-8")
		title NetPc App
		link(rel="stylesheet" href="index.css")

	body
		header
			div
				a(href="") Show Contacts
		footer(class="footer")
			span(class="text-muted") NetPc App
		script(src="index.js")